NODE_ENV=development
PORT=5000
API_BASE_URL=http://localhost:5000

MONGO_URI=mongodb://127.0.0.1:27017/habiba

JWT_SECRET=replace_me_with_a_long_random_string
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:4200

UPLOAD_MAX_FILE_SIZE_MB=5
UPLOAD_MAX_FILES_PER_PRODUCT=5

TAX_RATE=0
SHIPPING_FEE=0